@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to left, rgb(97, 0, 132)20%, rgb(161, 169, 255)90%), url('images/sharp_pattern_texture.png');
  background-blend-mode:color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  padding: 0;
  margin: 5vh 0px 0px 0px;
  font-size: 10rem;
  font-family: 'Genos', sans-serif;
  background: linear-gradient(45deg, rgb(97, 0, 132)20%, rgb(161, 169, 255)90%);
  background-clip:text;
  text-shadow: 0px 0px 50px rgb(0, 255, 4);
  color: rgba(33, 3, 170, 0.474)
}
.cards {
    justify-content: center;
}

.searchBar {
    margin: 2vh 10em;
}

.search_input{
    width: 100%;
    justify-self: center;
}


@media only screen and (max-width: 1230px){
  h1 {
    font-size: 8rem;
    text-shadow: 0px 0px 50px rgb(0, 255, 4);
  }
  .searchBar{
    margin: 2vh 8em
  }
}

@media only screen and (max-width: 980px){
  h1 {
    font-size: 6rem;
    text-shadow: 0px 0px 30px rgb(0, 255, 4);
  }
  .searchBar{
    margin: 2vh 6em
  }
}

@media only screen and (max-width: 730px){
  h1 {
    font-size: 4rem;
    text-shadow: 0px 0px 20px rgb(0, 255, 4);
  }
  .searchBar{
    margin: 2vh 4em
  }
}

@media only screen and (max-width: 490px){
  h1 {
    font-size: 3rem;
    text-shadow: 0px 0px 10px rgb(0, 255, 4);
  }
  .searchBar{
    margin: 2vh 3em
  }
}
@media only screen and (max-width: 362px){
  h1 {
    font-size: 2.5rem;
    text-shadow: 0px 0px 10px rgb(0, 255, 4);
  }
  .searchBar{
    margin: 2vh 2em
  }
}
@media only screen and (max-width: 304px){
  h1 {
    font-size: 2rem;
    text-shadow: 0px 0px 10px rgb(0, 255, 4);
  }
}